:root {
    --primary: rgb(142, 204, 147);
    --dark: rgb(0, 0, 0);
    --light: rgb(175, 15, 15);
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
body {
    background: rgb(209, 102, 59);
    margin: 80px 30px;
    line-height: 1.4;
}
.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}
img {
    max-width: 100%;
}
.containerr{
    width: 100%;
    height: 100px;
    background: rgb(92, 138, 240);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 1px 4px 14px 4px rgb(0, 0, 0, 0.75);
}
.nadvar{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.menu a{
    font-size: 22px;
    padding: 10px 20px;
    color: rgb(2, 0, 0);
    transition: 0.5s;
}
.menu a:hover{
    background: rgba(0, 0, 0, 0.5);
    color: rgb(226, 9, 9);
}
.logo{
    font-size: 25px;
    cursor: pointer;
}
.logo span{
    color: rgb(230, 11, 11);
}
.responsive{
    display: none;
}
/* top container*/
.top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        'showcase showcase top-box-a'
        'showcase showcase top-box-b';
}
/* showcase */
.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(https://th.bing.com/th/id/R.4a27c7220da5723a740b2a1b8b63db68?rik=PpSgZtGz%2fga4hA&pid=ImgRaw&r=0);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}
.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}
.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}
/* top box */
.box{
    width: 100px;
    height: 50px;
    overflow: hidden;
    margin: 20px;
}
.box{
    width: 80%;
    height: 80%;
    transition: 1s;
    object-fit: cover;
}
.box :hover{
    transform: scale(1.2);
}

.container .card {
	height: 220px;
	max-width: 200px;
	/*position: relative;*/
	margin: 30px 10px;
	padding: 20px 15px;
	background: rgb(255, 115, 0);
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}
/*Apply css properties to card class when it get pointed by cursor*/

.container .card:hover {
	height: 350px;
}

/*Apply css properties to content class*/

.container .card .content {
	position: relative;
	margin-top: -100px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
/*Apply css properties to content when card gets hovered*/

.container .card:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: -10px;
	transition-delay: 0.3s;
}
/* boxes */
.boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
}
/* info */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

.container1 .card {
	height: 220px;
	max-width: 200px;
	/*position: relative;*/
	margin: 30px 10px;
	padding: 20px 15px;
	background: rgb(167, 245, 213);
	display: flex;
	flex-direction: column;
	transition: 0.3s ease-in-out;
}
/*Apply css properties to card class when it get pointed by cursor*/

.container1 .card:hover {
	height: 350px;
}

/*Apply css properties to content class*/

.container1 .card .content {
	position: relative;
	margin-top: -100px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
}
/*Apply css properties to content when card gets hovered*/

.container1 .card:hover .content {
	visibility: visible;
	opacity: 1;
	margin-top: -10px;
	transition-delay: 0.3s;
}
/* portfolio */
.container1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
}
.container1 .img {
    width: 100%;
    box-shadow: var(--shadow);
}
/* footer */
footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}
/* media queries */
@media (max-width: 700px) {
    .top-container {
        grid-template-areas: 
        'showcase showcase'
        'top-box-a top-box-b';
    }
    .showcase h1 {
        font-size: 2.5rem;
    }
    .main-nav ul {
        grid-template-columns: 1fr;
    }
    .info {
        grid-template-columns: 1fr;
    }
    .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}
@media (max-whidth: 500px) {
    .top-container {
        grid-template-areas: 
        'showcase'
        'top-box-a'
        'top-box-b';
    }
}
.modal-contenido{
    background-color:aqua;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
  }
  #miModal:target{
    opacity:1;
    pointer-events:auto;
  }
  .footer{
    width: 100px;
    height: 100px;
    background: none;
}
.footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer h2{
    color: cornsilk;
    font-size: 30px;
}
.sociales{
    display: flex;
    align-items: center;
    height: auto;
}
.sociales i{
    color: white;
    font-size: 50px;
    }

/* contactos*/

